<h2>Data Reading from CSV</h2>
<div class="table-responsive">
      <div class="row">

            <div class="col-sm-12 col-md-6 text-right">
                  <label>Search:
                        <input type="search" class="form-control form-control-sm"  [(ngModel)]="searchText">
                  </label>
            </div>
      </div>
      <table class="table table-striped">
            <thead>
                  <tr>
                        <th scope="col" *ngFor="let header of headers" (click)="doSort(header)">
                              {{header}}
                              <app-sort-icon [icon]="sortType"></app-sort-icon>
                        </th>
                  </tr>
            </thead>
            <tbody>
                  <ng-container *ngIf="(userArray | searchFilter: searchText ).length>0; else NotFound">
                        <tr *ngFor="let student of userArray | searchFilter: searchText">
                              <td>{{ student.Id }}</td>
                              <td>{{ student.InternalId }}</td>
                              <td>{{ student.Type }}</td>
                              <td>{{ student.Billing }}</td>
                              <td>{{ student.Email }}</td>
                              <td>{{ student.Provider }}</td>
                              <td>{{ student.State }}</td>
                              <td>{{ student.Trial }}</td>
                        </tr>
                  </ng-container>
                  <ng-template #NotFound>
                        No Record found
                  </ng-template>
            </tbody>
      </table>
</div>